<html>
  <head>
    <meta charset="UTF-8">
    <title>Themes Page</title>
  </head>
  <body>
    <%= if @themes do %>
      <h1>View Data</h1>
      <h3>
        <table class="table table-bordered table-hover">
          <tr>
            <th>#</th>
            <th>Title</th>
          </tr>
          <%= for theme <- @themes do %>
            <tr>
              <td>
              </td>
              <td>
                <%= theme[:name] %>
              </td>
            </tr>
          <% end %>
        </table>
      </h3>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <button class="btn btn-primary pull-right" type="button" onclick="location.href='/host/experiments/'">Experiment Page</button>
      </div>
    </div>
  </body>
</html>
